@charset "utf-8";
/* CSS reset for c_b */

a,
address,
b,
big,
blockquote,
body,
center,
cite,
code,
dd,
del,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
label,
legend,
li,
ol,
p,
pre,
small,
span,
strong,
u,
ul {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

table th,
table td {
    padding: 5px;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
    font-style: normal;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

ception,
th {
    text-align: left;
}

.clearfix:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0;
}

.clearfix {
    *zoom: 1;
}

abbr,
acronym {
    border: 0;
}

a {
    color: #666;
    text-decoration: none;
}

/*for ie f6n.net*/

a:focus {
    outline: none;
}

/*for ff f6n.net*/

a:hover {
    text-decoration: none;
}

/*定位*/

.tl {
    text-align: left;
}

.tc {
    text-align: center;
}

.tr {
    text-align: right;
}

.bc {
    margin-left: auto;
    margin-right: auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.hidden {
    visibility: hidden;
}

.vam {
    vertical-align: middle;
}

.clear {
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
}

p {
    word-spacing: -1.5px;
}

/*其他*/

.curp {
    cursor: pointer
}

;
/*原reset*/

input,
button,
textarea,
select,
optgroup,
option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}

input,
button,
textarea,
select {
    *font-size: 100%;
}

input,
select {
    vertical-align: middle;
}

body {
    font: 12px/1.231 arial, helvetica, clean, sans-serif;
}

select,
input,
button,
textarea,
button {
    font: 99% arial, helvetica, clean, sans-serif;
}

table {
    font-size: inherit;
    font: 100%;
    border-collapse: collapse;
}

pre,
code,
kbd,
samp,
tt {
    font-family: monospace;
    *font-size: 108%;
    line-height: 100%;
}

/*title*/

h1 {
    font-size: 32px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 14px;
}

h5 {
    font-size: 12px;
}

h6 {
    font-size: 10px;
}

/* CSS Document */

body {
    background-color: #fff;
    overflow-x: hidden;
    color: #666;
    font-size: 12px;
    font-family: microsoft yahei, "宋体";
    position: relative;
}

.w {
    width: 1200px;
    margin: 0 auto;
}

/* header */

header {
    position: fixed;
    width: 100%;
    height: 80px;
    line-height: 80px;
    margin: 0 auto;
    left: 0;
    top: 0;
    z-index: 999;
    background: #fff;
}

header h1 {
    float: left;
    height: 70px;
    margin-top: 10px;
}

.logo img {
    width: 450px;
    height: 60px;
}

.lang {
    float: right;
    padding: 0 10px;
    border-left: 1px solid #e6e6e6;
}

.lang>a {
    color: #b2b2b2;
}

.navitems {
    float: right;
    margin-right: 10px;
}

.navitems>li {
    position: relative;
    float: left;
    height: 77px;
    width: 65px;
    padding: 0 10px;
    border-top: 3px solid transparent;
    text-align: center;
    line-height: 77px;
    font-size: 14px;
}

.navitems>li.cur,
.navitems>li:hover {
    border-top: 3px solid #1651b9;
}

.navitems>li.cur>a,
.navitems li:hover>a {
    color: #1651b9;
}

.navitems>li:hover .dropdown-layer {
    display: block;
}

.products>.dropdown-layer {
    display: none;
    position: absolute;
    width: 150px;
    text-align: center;
    overflow: hidden;
    left: -32px;
    z-index: 10;
    background: #fff;
}

.dropdown-layer>li {
    height: 35px;
    line-height: 35px;
}